* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-size: 12px;
  background: #c5c5c5; }

.header {
  width: 100%;
  height: 89px;
  border-bottom: 1px solid #c5c5c5;
  background: #fff; }
  .header .header_main {
    margin: 0 auto;
    width: 980px; }
    .header .header_main .header_logo {
      float: left;
      margin-top: 20px; }

.welcome {
  margin-top: 28px;
  height: 30px;
  line-height: 30px;
  float: right; }
  .welcome a {
    display: inline-block;
    margin-right: 30px;
    color: #333333;
    font-size: 12px; }
    .welcome a .set {
      background: url(../img/loginIcon.gif) no-repeat -1px -1px; }
    .welcome a .service {
      background: url(../img/loginIcon.gif) no-repeat -25px -1px; }

.welcome i {
  display: inline-block;
  margin-top: -3px;
  margin-right: 5px;
  vertical-align: middle;
  width: 17px;
  height: 17px; }

.welcome .red {
  color: #cf0404;
  font-size: 14px; }

.content_main {
  margin: 0 auto;
  width: 980px; }
  .content_main .login_box {
    overflow: hidden;
    padding: 70px 15px; }
    .content_main .login_box .login_pic {
      float: left; }
      .content_main .login_box .login_pic img {
        width: 438px;
        height: 437px; }

.login_text {
  position: relative;
  width: 488px;
  height: 435px;
  background: #fff;
  border: 1px solid #000000;
  float: right; }
  .login_text .login_from {
    margin: 20px auto;
    width: 350px; }
    .login_text .login_from .login_title {
      margin-bottom: 30px;
      text-align: center;
      height: 28px;
      line-height: 28px;
      color: #000; }
      .login_text .login_from .login_title .logo_huiyuan {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 28px;
        height: 28px;
        background: url(../img/loginIcon.gif) no-repeat -94px -3px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px; }

.text_box {
  position: relative;
  margin-top: -1px;
  width: 348px;
  height: 52px;
  line-height: 52px;
  border: 1px solid #c5c5c5; }
  .text_box .user {
    width: 18px;
    height: 18px;
    background: url(../img/loginIcon.gif) no-repeat -46px -2px; }
  .text_box input {
    width: 260px;
    border: none;
    height: 24px;
    line-height: 24px;
    padding-bottom: 3px;
    background: transparent;
    vertical-align: middle;
    text-indent: 20px; }
  .text_box .pwd {
    width: 18px;
    height: 18px;
    background: url(../img/loginIcon.gif) no-repeat -72px -1px; }

.text_box i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 20px; }

.verify_code {
  margin-top: 7px;
  height: 32px;
  line-height: 32px; }
  .verify_code input {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    border: 1px solid #c5c5c5;
    vertical-align: middle; }
  .verify_code img {
    margin: 0 6px;
    height: 32px;
    width: auto;
    vertical-align: middle; }
  .verify_code a {
    color: #325e8f;
    cursor: pointer; }

.atuologin {
  height: 54px;
  line-height: 54px;
  color: #999; }
  .atuologin .left {
    float: left; }
    .atuologin .left input {
      vertical-align: middle;
      margin-right: 3px; }
  .atuologin .right {
    float: right;
    color: #999; }

.loginBtn {
  display: block;
  width: 348px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border: 1px solid #dc0014;
  background: #fe0a2e;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.9);
  cursor: pointer; }

.bg_xian {
  margin-left: 30px;
  background: url(../img/dashed_bg_06.gif);
  width: 432px;
  height: 7px; }

.logo_list {
  margin: 10px auto;
  width: 350px; }
  .logo_list .qq {
    background-position: -142px -4px;
    width: 38px;
    height: 38px;
    background: url(../img/qq.png); }
  .logo_list .zhifubao {
    background-position: -246px -4px;
    width: 38px;
    height: 38px;
    background: url(../img/zfb.png); }
  .logo_list .weixin {
    background-position: -246px -4px;
    width: 38px;
    height: 38px;
    background: url(../img/ico38.png);
    border-radius: 38px; }

.logo_list a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px; }

.re-registration {
  position: absolute;
  display: block;
  right: -1px;
  bottom: -38px;
  width: 113px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  background: #ff0421; }

.footer {
  margin-top: 50px;
  text-align: center;
  line-height: 22px; }
  .footer .links a {
    display: inline-block;
    margin: 0 10px;
    color: #333333; }

/*# sourceMappingURL=login.css.map */
