@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 12px;
    background: #c5c5c5;
}

// 头部
.header {
    width: 100%;
    height: 89px;
    border-bottom: 1px solid #c5c5c5;
    background: #fff;
    .header_main {
        margin: 0 auto;
        width: 980px;
        .header_logo {
            float: left;
            margin-top: 20px;
        }
    }
}

.welcome {
    margin-top: 28px;
    height: 30px;
    line-height: 30px;
    float: right;
    a {
        display: inline-block;
        margin-right: 30px;
        color: #333333;
        font-size: 12px;
        .set {
            background: url(../img/loginIcon.gif) no-repeat -1px -1px;
        }
        .service {
            background: url(../img/loginIcon.gif) no-repeat -25px -1px;
        }
    }
}

.welcome i {
    display: inline-block;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
    width: 17px;
    height: 17px;
}

.welcome .red {
    color: #cf0404;
    font-size: 14px;
}

// 中间主体
.content .content_main {
    margin: 0 auto;
    width: 980px;
    .register_box {
        overflow: hidden;
        margin-top: 24px;
        background: #fff;
        border: 6px solid rgba(199, 199, 199, 0.7);
    }
}

.register_form {
    position: relative;
    float: left;
    width: 600px;
    height: 566px;
    overflow: hidden;
    border-right: 1px solid #dcdcdc;
    .register_form_btn {
        height: 35px;
        width: 515px;
        margin: 33px auto 0 auto;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        li {
            position: relative;
            float: left;
            width: 257px;
            height: 23px;
            text-align: center;
            font-size: 14px;
            a {
                display: block;
                width: 100%;
                color: #333333;
                height: 23px;
                line-height: 23px;
                font-size: 16px;
            }
        }
    }
}

.register_form_btn li:first-child {
    border-right: 1px solid #ddd;
}

.register_form_btn .shouji_icon {
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    height: 24px;
    width: 15px;
    background: url(../img/loginIcon.gif) no-repeat -387px -5px;
}

.redtiao {
    position: absolute;
    left: 0;
    bottom: -33px;
    width: 100%;
    height: 7px;
    background: url(../img/loginIcon.gif) no-repeat left -37px;
}

.from_box {
    position: absolute;
    width: 200%;
    .register_inner {
        width: 600px;
        padding-top: 34px;
        overflow: hidden;
        float: left;
        .register_inner_from {
            width: 400px;
            margin: 0 auto;
        }
    }
}

.register_inner_from .text_box {
    position: relative;
    margin-top: -1px;
    width: 348px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    border: 0px;
    font-family: "΢���ź�";
    label {
        display: inline-block;
        margin-left: 18px;
        color: #000;
        width: 73px;
        text-align: right;
        vertical-align: middle;
    }
    input {
        width: 240px;
        border: 1px solid #dcdcdc;
        height: 35px;
    }
}

.xieyi {
    height: 40px;
    line-height: 40px;
}

.regBtn {
    display: block;
    width: 348px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #a8221f;
    border-radius: 2px;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.9);
    cursor: pointer;
    background: #fe4a49;
}

.register_pic_right {
    margin-top: 83px;
    margin-left: 35px;
    width: 300px;
    height: 356px;
    text-align: center;
    float: left;
    img {
        width: 300px;
        height: 356px;
    }
}

// 尾部
.footer {
    margin-top: 50px;
    text-align: center;
    line-height: 22px;
    .links {
        a {
            display: inline-block;
            margin: 0 10px;
            color: #333333;
        }
    }
}