@charset "utf-8";
@import "header";
.product_display_box {
    width: 100%;
    height: auto;
    background: #F6F4F5;
    .product_display_showbox {
        width: 1200px;
        height: auto;
        background: #FFFFFF;
        margin: 0 auto;
        .category {
            width: 1200px;
            height: 50px;
            line-height: 50px;
            font-size: 12px;
            color: #797979;
            background: #F6F4F5;
            span {
                padding: 0 5px;
            }
        }
    }
}

.category span a {
    color: #333;
}

.category .right_logo {
    // float: right;
    cursor: pointer;
    margin-top: 15px;
    overflow: hidden;
    width: 88px;
    height: 20px;
    display: inline-block;
    background: url(../img/zxkf.png);
}

.maotai_show .maotai_show_left {
    float: left;
    .maotai_show_left_piclist {
        margin-left: 45px;
        margin-top: 20px;
        margin-right: 20px;
        width: 76px;
        height: 258px;
        float: left;
        li {
            margin-bottom: 10px;
            border: 1px solid #EEEEEE;
            cursor: pointer;
            padding: 1px 1px;
            img {
                vertical-align: top;
                width: 72px;
                height: 72px;
                border: 0;
            }
        }
    }
}

.maotai_show_left_bigbox {
    width: 420px;
    height: auto;
    float: left;
    position: relative;
    .sp {
        position: relative;
        overflow: hidden;
        width: 420px;
        height: 420px;
        margin-top: 20px;
        border: 1px solid #EEEEEE;
        cursor: pointer;
        img {
            width: 420px;
            height: 420px;
        }
        .sf {
            width: 150px;
            height: 150px;
            background: yellow;
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
            // display: none;
        }
    }
}

.bf {
    width: 500px;
    height: 500px;
    border: 2px solid red;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 334343;
    // display: none;
    .bp {
        width: 800px;
        height: 800px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
}

.sharebox {
    position: relative;
    left: -94px;
    float: left;
    span {
        line-height: 45px;
        color: #666666;
        font-size: 13px;
        float: left;
    }
    .share_weixin {
        width: 6px;
        height: 18px;
        background: url(../img/shareicon.png);
        background-position: 0px 18px;
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
    }
    .share_xinlang {
        width: 6px;
        height: 18px;
        background: url(../img/shareicon.png);
        background-position: 23px 18px;
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
    }
}

.sharebox a {
    float: left;
    font-size: 12px;
    padding-left: 17px;
    line-height: 16px;
    cursor: pointer;
    margin: 6px 6px 6px 0;
}

.collect {
    float: right;
    position: relative;
    a {
        display: block;
        width: 100px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        float: right;
        color: #666666;
        font-size: 15px;
        position: relative;
        img {
            vertical-align: top;
            margin-top: 10px;
        }
    }
}

.explanatory_note {
    width: 520px;
    margin: 0 0 0 42px;
    color: #666;
    margin-top: 20px;
    position: relative;
    float: left;
    .itemtitle {
        font-size: 16px;
        width: 480px;
        line-height: 20px;
        color: #000;
        font-weight: 700;
        font-family: "微软雅黑";
    }
    .redad {
        color: #e3393c;
        width: 480px;
        font-family: arial, "微软雅黑";
        font-size: 14px;
        line-height: 20px;
        word-break: break-all;
        margin-top: 7px;
    }
    .sppp {
        position: absolute;
        right: -75px;
        top: 0;
        width: 80px;
        text-align: center;
        font-size: 13px;
        color: #333;
        em {
            background: rgb(161, 139, 126);
            color: #fff;
            border-radius: 4px 4px;
            padding: 1px 5px;
            line-height: 30px;
            height: 30px;
            font-style: normal;
        }
    }
}

.bulletincd {
    background-color: #FFFCEB;
    color: #666666;
    margin-top: 10px;
    .red_box {
        display: block;
        width: 520px;
        height: 40px;
        background: #d8243a;
        line-height: 40px;
        color: #FFFFFF;
        margin-top: 8px;
        h3 {
            display: inline;
            font-size: 24px;
            font-family: 微软雅黑;
            font-style: oblique;
            font-weight: bold;
            margin: 0px 0px 0px 71px;
        }
        span {
            margin-left: 11px;
            position: relative;
            top: -4px;
            font-size: 12px;
            em {
                color: #ffcc00;
                font-style: normal;
            }
        }
    }
}

.pricebox {
    margin-top: 10px;
    padding: 10px 0 10px 10px;
    background: url(../img/pricBg.gif) no-repeat left center;
    width: 520px;
    position: relative;
    left: -10px;
    .jiagebox {
        margin-top: 10px;
        height: 26px;
        line-height: 26px;
        p {
            padding-top: 0;
            height: 30px;
            line-height: 30px;
            strong {
                height: 30px;
                margin-right: 3px;
                color: #c40000;
                line-height: 30px;
            }
        }
    }
}

.jiagebox strong span {
    height: 30px;
    margin-right: 3px;
}

.jiagebox strong .icon {
    font-size: 16px;
    padding-left: 16px;
}

.jiagebox strong .number {
    font-size: 24px;
}

.wenzi_box {
    padding-top: 11px;
    font-size: 12px;
    line-height: 1;
    color: #666;
    span {
        display: inline-block;
        margin-right: 5px;
        line-height: 30px;
        .redbox {
            background: #c40000;
            color: #fff;
            line-height: 18px;
            height: 18px;
            padding: 2px 2px 1px 2px;
            display: inline-block;
        }
    }
}

.xinxi_box .peisongto {
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    clear: both;
    font-size: 12px;
    .pst {
        float: left;
        font-family: "微软雅黑";
        margin-right: 10px;
        .quyu_box {
            float: left;
            font-family: "微软雅黑";
            margin-right: 10px;
            position: relative;
            .quyu_btn {
                display: inline-block;
                height: 24px;
                line-height: 24px;
                padding: 0 5px;
                background: #fff;
                border: 1px solid #ccc;
                color: #333;
            }
        }
    }
}

.quyu_box .yh {
    font-size: 12px;
    font-family: "微软雅黑";
    margin-right: 8px;
    color: #747474;
    float: left;
}

@import "footer";